:root {
    --white: #ffffff;
    --black: #000000;
    --gray-3: #a6a6a6;
    --gray-4: #bdbdbd;
    --gray-5: #e0e0e0;
    --bg-color: #e7eaf2;
    --btn-bg-color: #24cca7;
    --active-bg-color: #4a56e2;
    --disable-bg-color: #6e78e8;
    --error-color: #ff6596;
    --badroc-color :  rgba ( 0 ,  0 ,  0 ,  0.25 );
    --basic-expenses: #fed057;
    --products: #ffd8d0;
    --car: #fd9498;
    --self-care: #c5baff;
    --child-care: #6e78e8;
    --education: #81e1ff;
    --other-expenses: #00ad84;
    --border-btn: 20px;
    --bg-select: rgba(255, 255, 255, 0.7);
  }